!!!
%head
  %meta{charset: 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}/

  %title Graphiti

  = stylesheet('/stylesheets/screen.css', media: 'screen, projection')



%body.bp
  #header
    .menu
      %h1
        %a{href: '/'} Graphiti

      %ul
        %li
          %a{href: '/dashboards'}
            Dashboards
        %li
          %a{href: '/graphs'}
            Graphs
        %li
          %a{href: '/graphs/new'}
            + New Graph
  #container
    #loading-pane.pane
      %h2 ... Loading ...
    #dashboards-pane.pane{style: 'display:none;'}
    #graphs-pane.pane{style: 'display:none;'}
    #snapshots-pane.pane{style: 'display:none;'}
    #editor-pane.pane{style: 'display:none;'}
      #graph-preview
        %img{src: '/images/loading.gif'}
        .clear
      #graph-url{style: 'display:none'}
        %input.graph-url{type: 'text', readonly: true}
      #graph-actions
        %ul
          %li.graph-edit
            %h4 Graph
            %button.save.redraw Redraw
            %form.update{"data-action" => '/graphs/:uuid', method: 'put', style: 'display:none'}
              %input.save{type: 'submit', value: 'Update'}
            %form.save-new{action: '/graphs', method: 'post'}
              %input.save.create{type: 'submit', value: 'Save New'}
          %li.dashboard
            %h4 Dashboards
            .new-dashboard{style: 'display: none'}
              %form{action: '/dashboards', method: 'post'}
                %strong New Dashboard
                %input{type: 'text', size: 10, placeholder: 'Slug', name: 'dashboard[slug]'}
                %input{type: 'text', size: 20, placeholder: 'Title', name: 'dashboard[title]'}
                %input.save{type: 'submit', value: 'Create'}
                %a{rel: 'cancel'} Cancel
            .add-to-dashboard
              %form{action: '/graphs/dashboards', method: 'post'}
                %strong Add to
                %input{type: 'hidden', name: 'uuid'}
                %select{name: 'dashboard'}
                %input.save{type: 'submit', value: 'Save', disabled: 'disabled'}
                %button.save.create{rel: 'create'} Create New
          %li.snapshots
            %h4 Snapshots
            %form.save-new{"data-action" => '/graphs/:uuid/snapshots', method: 'post'}
              %input.save.create{type: 'submit', value: 'Save New'}
            %form.select{"data-action" => '/graphs/:uuid/snapshots', method: 'get'}
              %select{name: 'snapshot'}
              %input.save.create{type: 'submit', value: 'View'}
            %form.select{"data-action" => '/graphs/:uuid/snapshots', method: 'get'}
              %input.save{type: 'submit', value: 'View All'}
        .clear
      .edit-group{'data-group' => 'options'}
        .edit-head.closed
          %a Options
        .edit-body.closed
          #graph-options
            %form{action: '/graphs/options', method: 'put'}
              .options-group
                %p
                  %label From
                  %input{type: 'text', name: 'options[from]'}
                %p
                  %label Until
                  %input{type: 'text', name: 'options[until]'}
                %p
                  %label Title
                  %input{type: 'text', name: 'options[title]'}
                %p
                  %label Vertical Title
                  %input{type: 'text', name: 'options[vtitle]'}
                %p
                  %label Font
                  %select{name: 'options[fontName]'}
                    - Graphiti.settings.fonts.each do |font|
                      %option= font
                %p
                  %label Font Size
                  %select{name: 'options[fontSize]'}
                    - 6.upto(32) do |i|
                      %option= i
                %p
                  %label.check{for: 'check_fontBold'} Bold
                  %input{type: 'checkbox', id: 'check_fontBold', name: 'options[fontBold]'}
                  %label.check{for: 'check_fontItalic'} Italic
                  %input{type: 'checkbox', id: 'check_fontItalic', name: 'options[fontItalic]'}
              .options-group
                %p
                  %label Line Mode
                  %select{name: 'options[lineMode]'}
                    %option slope
                    %option connected
                    %option staircase
                %p
                  %label Line Thickness
                  %select{name: 'options[thickness]'}
                    - 1.upto(10) do |i|
                      %option= i
                %p
                  %label Background Color
                  %input{type: 'text', class: 'color {hash: true}', name: 'options[bgcolor]'}
                %p
                  %label Text Color
                  %input{type: 'text', class: 'color {hash: true}', name: 'options[fgcolor]'}
                %p
                  %label Major Grid Color
                  %input{type: 'text', class: 'color {hash: true}', name: 'options[majorGridLineColor]'}
                %p
                  %label Minor Grid Color
                  %input{type: 'text', class: 'color {hash: true}', name: 'options[minorGridLineColor]'}
              .options-group.last
                %p
                  %label Y Min
                  %input{type: 'text', size: 3, name: 'options[yMin]'}
                %p
                  %label Y Max
                  %input{type: 'text', size: 3, name: 'options[yMax]'}
                %p
                  %label Area Mode
                  %select{name: 'options[areaMode]'}
                    %option
                    %option stacked
                    %option first
                    %option all
                %p
                  %label{for: 'check_hideGrid'} Hide Grid
                  %input{type: 'checkbox', id: 'check_hideGrid', name: 'options[hideGrid]'}
                %p
                  %label{for: 'check_hideAxes'} Hide Axes
                  %input{type: 'checkbox', id: 'check_hideAxes', name: 'options[hideAxes]'}
                %p
                  %label{for: 'check_hideLegend'} Hide Legend
                  %input{type: 'checkbox', id: 'check_hideLegend', name: 'options[hideLegend]'}
              .clear
              .options-group
                %p
                  %input.save{type: 'submit', value: 'Update'}
        .clear
      .edit-group{'data-group' => 'metrics'}
        .edit-head.closed
          %a Metrics
        .edit-body.closed
          #metrics-menu
            %input.search{type: 'search', name: 'metrics-filter', placeholder: 'Search'}
          #metrics-list
            .empty No metrics found. Search for metrics above.
            .loading{style: 'display:none;'} ... Loading ...
            %ul{style: 'display:none;'}
              %li{style: 'display:none;'}
                %a{rel: 'add'} Add
                %a{rel: 'replace'} Replace
                %strong &nbsp;
        .clear
      .edit-group{'data-group' => 'editor'}
        .edit-head.open
          %a Editor
        .edit-body.open
          #editor &nbsp;
        .clear


  #footer
    Graphiti #{Graphiti::VERSION}

  #templates{style: 'display:none'}
    .dashboard{style: 'display:none'}
      %a.view
        %h3.title &nbsp;
        .meta
          %span.updated-at
          %strong.graphs-count
      %ul.actions
        %li
          %form.delete{method: 'delete', action: '/dashboards/'}
            %input{type: 'submit', value: 'Delete'}
        %li
          %a.view
            %button Show
    .graph{style: 'display:none'}
      %a.edit
        %img{src: '/images/loading.gif'}
      .desc
        %h3.title &nbsp;
        %ul.actions
          %li
            %form.delete{method: 'delete', action: '/dashboards/'}
              %input{type: 'hidden', name: 'uuid'}
              %input{type: 'hidden', name: 'dashboard'}
              %input{type: 'submit', value: 'Delete'}
          %li
            %a.edit
              %button Edit
      .snapshot{style: 'display:none'}
        %a.view{target: 'blank'}
          %img{src: '/images/loading.gif'}
        .desc
          %h3.title &nbsp;
    #dashboards-empty.empty
      %h3
        You haven't set up any dashboards yet. Create a
        %a{href: '/graphs/new'} new graph
        and add it to a dashboard.
    #graphs-empty.empty
      %h3
        You haven't set up any graphs yet. Create a
        %a{href: '/graphs/new'} new graph.

  %script{src: '/js/libs/ace/ace.js'}
  %script{src: '/js/libs/ace/mode-json.js'}
  %script{src: '/js/libs/ace/theme-textmate.js'}

  :javascript
    Graphiti = window.Graphiti || {};
    Graphiti.graphite_host = "#{settings.graphite_host}";
    Graphiti.defaultGraph = #{Yajl::Encoder.encode(default_graph)};

  - if Graphiti.production?
    %script{src: '/js/default.min.js'}
  - else
    %script{src: '/js/default.js'}
